:local(.text-input-container) {
  display: flex;
  flex-direction: column;
}

/*
:local(.text-input-label) {
  transition: all 0.2s ease-out;
  @apply absolute top-3.25 left-0 text-text-secondary text-base ml-3 pointer-events-none;
}

:local .text-input-container:focus-within .text-input-label,
.text-input-filled-label {
  transition: all 0.2s ease-out;
  top: 0.6rem;
  @apply text-xs;
}

.text-input:-webkit-autofill + .text-input-label {
  transition: all 0.2s ease-out;
  top: 0.6rem;
  @apply text-xs;
} */

.text-input {
  @apply min-w-8 h-3 mb-2 max-w-full pt-6 pb-4 px-4 outline-none border border-[#CBCBCB];
}

.text-input-error {
  @apply border border-[#ff0000];
}

.text-input-nolabel {
  @apply h-10 py-[9px];
}

.text-input-error-caption {
  @apply text-[#ff0000];
}

.text-required {
  @apply text-[#D90B0B];
}
